{
  "rules": {
    "indent": ["error", 2],
    "no-console": "error"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  }
}
